
<div id="<%= dom_id order %>">
 
  <p> 
    <strong>Product_Name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product_Count:</strong>
    
    <%= order.product_count %>
  </p>

  <p>
    <strong>Customer Name:</strong>
    <%= order.customer.full_name %>
  </p>
