<h1>Orders#Index</h1>
<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
<div id="order_1">

  <% @orders.each do |order| %>
  <%= render order %>
    <p>
     <%= link_to "Show this order", order  %>
    </p>
  <% end %>
</div>
</div>
<div class="btn btn-light" >
<%= link_to "New order", new_order_path  %>
</div>

