<h1>Orders#show</h1>
<p style="color: green"><%= notice %></p>

<%= render partial: 'form' %>

<div>
 
  
 

  <%= button_to "Destroy this order", @order, method: :delete %>
   <%= link_to "Back to orders", orders_path %>
</div>

